// Style for button and pseudo button for input and link

.btn {
	color: #fff;
	font-family: $main_font_family;
	font-size: 1em;
	font-weight: 400;
	border-radius: 0.313em;
	background-color: #2b508e;
	background-image: linear-gradient(to top, #0158c9 0%, #418ceb 100%);
	padding: 0.7em 1.5em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;

	&:hover:not(:disabled) {
		background-image: linear-gradient(to top, #0163e1 0%, #4b9cf7 100%);
		color: #fff;
		text-decoration: none;
	}

	&:active:not(:disabled) {
		background-image: linear-gradient(to top, #418ceb 0%, #0158c9 100%);
		color: #fff;
	}

	&:disabled {
		filter: grayscale(1);
		cursor: default;
	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active,
			&:focus {
				background-color: darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}
}
