.form {
	&__row {
		margin-bottom: 0.8em;
		display: flex;
		align-items: center;

		.btn,
		input:not([type]),
		input[type=datetime],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 15px;
		}
	}

	&__line {
		position: relative;

		&:not(:last-child) {
			padding-bottom: 1em;
			margin-bottom: 1.5em;

			&:after {
				content: '';
				position: absolute;
				height: 0.18em;
				border-radius: 0.063em;
				background-color: #c1d7ee;
				display: block;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}

	&__info {
		color: #a5b8cc;
		font-size: 0.875em;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 0 1.6em 0 1em;
		// width: 3em;
		display: flex;
		align-items: center;
		text-align: right;

		.icon_quest {
			color: #055bcb;
			font-size: 1.3em;
		}
	}

	&__check {
		display: inline-flex;
		align-items: center;
		position: relative;
		line-height: 1;
		padding-right: 2.6em;

		input[type=checkbox],
		input[type=radio] {
			margin-top: -0.2em;
			flex: none;
			margin-right: 0.6em;
		}

		.icon_quest {
			position: absolute;
			right: 0;
			top: -0.14em;
			font-size: 1.3em;
			color: #055bcb;
		}
	}

	&__control {
		position: relative;
		flex-grow: 1;
	}

	&__label {
		position: absolute;
		left: 1em;
		top: 0.65em;
		font-size: 1.3em;
		color: #43526e;
		transition: all 0.5s;
	}

	&__props {
		flex: none;
		width: 40%;
		padding-left: 2em;
		color: #122b58;
		font-size: 0.875em;

		dl {
			display: flex;
			margin: 0.3em 0;
		}

		dt {
			flex: none;
			width: 19%;
		}

		dd {}
	}

	&__icon {
		width: 3em;
		flex: none;

		img {
			display: block;
			max-width: 2em;
			max-height: 2em;
		}
	}

	&__privacy {
		text-align: center;
		margin-top: 2em;
		color: #999999;
		font-size: 0.875em;

		a {
			color: #0d67cd;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.icon_quest {
		cursor: pointer;
	}

}
// Input text and textarea ================================================
input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	padding: 0.6em 0.9em;
	outline: none;
	font-weight: 400;
	font-family: $main_font_family;
	transition: all 0.3s;
	border-radius: 0.38em;
	border: 0.1em solid #c1d7ee;
	background-color: #ffffff;
	color: #122b58;
	font-family: "MyriadPro";
	font-size: 1.25em;

	&:hover {
		border: 0.1em solid #122b58;
		background-color: #ffffff;
	}

	&:focus {
		border: 0.1em solid #122b58;
		background-color: #ffffff;

		+ .form__label {
			color: #122b58;
			background-color: #fff;
			top: -0.4em;
			left: 1.2em;
			font-size: 0.875em;
			padding: 0 0.3em;
			font-weight: 600;
			border-radius: 0.3em;
		}
	}

	&.invalid {
		background-color: #fff;
		border: 0.1em solid red;
	}

	&.valid {
		+ .form__label {
			color: #122b58;
			background-color: #fff;
			top: -0.4em;
			left: 1.2em;
			font-size: 0.875em;
			padding: 0 0.3em;
			font-weight: 600;
			border-radius: 0.3em;
		}
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: #43526e;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
	appearance: none;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
	font-size: 1em;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	border: none;
	overflow: hidden;
	// margin-top: 0;
	// vertical-align: middle;
	appearance: none;
	outline: 0;
	background: #055bcb 0 0;
	position: relative;
	flex: none;

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		width: 0.7em;
		height: 0.7em;
		box-shadow: inset 0 0 0 0.063em rgba(18, 43, 88, 0.2);
		border-radius: 0.25em;
		background-color: #ffffff;
		background-image: linear-gradient(to top, #204b9a 0%, #122b58 100%);
		border-radius: 50%;
		position: absolute;
		top: 50%;
		margin-top: -.35em;
		left: 50%;
		margin-left: -.35em;
	}

	&:disabled,
	&:disabled {
		border-color: #ddd;
	}
}

input[type=radio] {
	border-radius: 50%;

	&:checked:before {
		content: '';
		background-image: none;
	}

	&:disabled:checked:before {
		background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
		content: "";
		background-image: none;
	}

	&:indeterminate:before {
		content: "\f068";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		color: #aaa;
	}
}
