//- .stepLast.hide
//-     .form__line
//-         .form__row
//-             .form__icon
//-                 img(src="img/qiwi.png", alt="alt")
//-             .form__control Номер QIWI кошелька
//-             .form__props +7 913-184-58-41
//-         .form__row
//-             .form__icon
//-             .form__control Сумма
//-             .form__props 21020
//-                 .form__info
//-                     |Руб
//-     .form__line
//-         .form__row
//-             .form__icon
//-                 img(src="img/qiwi.png", alt="alt")
//-             .form__control Номер QIWI кошелька
//-             .form__props +7 913-184-58-41
//-         .form__row
//-             .form__icon
//-             .form__control Сумма
//-             .form__props 21020
//-                 .form__info
//-                     |Руб
