header.header
    .header__content
        include navbar.pug

        .header__action
            .header__user
                a.btn(href="#")
                    i.icon.icon_key 
                    |Регистрация
                a.btn(href="#") 
                    i.icon.icon_user 
                    |Войти
            .header__lang
                .dropdown
                    button.btn.dropdown__toggle(type="button")
                        img(src="img/RUS.svg", alt="")
                        |Rus
                    .dropdown__drop
                        ul.dropdown__list
                            li
                                a(href="#")
                                    img(src="img/eng.svg", alt="")
                                    |Eng
