//- Примечание: для деплоя на продакшен замените окончание «development.js» на «production.min.js».
//- script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
//- script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)

script(src="js/jquery.js")
//- script(src="node_modules/jquery-circle-progress/dist/circle-progress.min.js")
//- script(src="js/jquery-circle-progress-timer.js")
script(src="js/app.js?"+version+"")
