extends layout/layout.pug

block content
    .steps
        .steps__item.active#step_select_currency
            .steps__icon
                i.icon.icon_wallet
            |Выбор валюты 
        .steps__item#step_select_data
            .steps__icon
                i.icon.icon_list
            |Данные
        .steps__item#step_select_payment_type
            .steps__icon
                i.icon.icon_order
            |Оплата

    .main__wrapp
        // begin main__left
        .main__left
            .box__title Калькулятор
            .selected
                .selected__empty Выберите 2 варианта валюты для начала обмена
                .selected__list
                    .selected__in
                    .selected__out
                    //- .selected__item
                    //-     .selected__icon
                    //-         img(src="img/qiwi.png", alt="")
                    //-     .selected__name Examplename
                    //-     .selected__val Руб
                    //- .selected__item
                    //-     .selected__icon
                    //-         img(src="img/bitcon.png", alt="")
                    //-     .selected__name Examplename
                    //-     .selected__val Btc
                .selected__bottom
                    .selectedCours
                        .selectedCours__left
                            .selectedCours__label Курс:
                            .selectedCours__calc 1 : 200000001
                        .selectedCours__timer

        // end main__left

        // begin main__center
        .main__center
            .stepsContent__wrapp
                include layout/steps/first.pug
                include layout/steps/second.pug


        // end main__center

        // begin main__aside
        aside.main__aside
            include layout/navbar.pug
            include layout/navfoot.pug

    // end main__aside

    // begin stepsNext
    .stepsNext
        button.btn.js_goToNext(type="button") Продолжить

    // end stepsNext
